@import url('common.css');
@import url('header.css');
@import url('footer.css');
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');

/*
    Section A
*/

#a {
    min-height: 100vh;
    padding: 16% 8% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#a h1 {
    color: var(--g);
    font-weight: 400;
    font-size: 7rem;
}

#a .row-a p {
    color: var(--m);
    font-size: 4rem;
    line-height: 1.2;
    max-width: 1000px;
    margin-top: 40px;
}

#a .row-b {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

#a .row-b .col {
    flex-basis: 100%;
}

#a .row-b p {
    color: var(--d);
    font-size: 2rem;
    max-width: 572px;
}


/*
    Section B
*/

#b {
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--d) url('../images/health-claim-exchange-illustration.png');
    background-size: cover;
    background-position: left top;
}

.button {
    color: var(--a);
    background: white;
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 2rem;
    display: inline-block;
    padding: 16px 40px;
    border: 1px solid var(--d);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    transition: 0.5s;
}

.button:hover {
    color: white;
    background-color: var(--a);
}


/*
    Section C
*/

#c {
    min-height: 100vh;
    padding: 8% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.slider {
    text-align: center;
}

.slider .bxs-quote-alt-left::before {
    color: var(--d);
    font-size: 4rem;
}

.swiper {
  padding-bottom: 40px;
}

.swiper-wrapper {
  align-items: flex-end;
}

.slider p {
    color: var(--h);
    font-size: 1.6rem;
    text-align: center;
    max-width: 960px;
    margin: 20px auto 0;
}

.slider hr {
    margin: 40px 0;
    position: relative;
    overflow: visible;
}

hr::after {
  content: '';
  border-width: 8px 10px 0 10px;
  border-style: solid;
  border-color: var(--p) transparent;
  position: absolute;
  top: 4px;
  /* left: 100%; */
  transform: translateY(-50%);
}

.slider figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.slider figure img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    object-fit: contain;
    background: var(--a);
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.slider figcaption {
    color: var(--h);
    font-size: 2rem;
    text-align: left;
}

.slider figcaption small {
    font-size: 1.6rem;
    display: block;
}

.slider figure img.other-user-db {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: #7795ed;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  cursor: pointer;
}

.other-user-db:nth-child(3) {
  left: 16%;
}

.other-user-db:nth-child(4) {
  right: 16%;
}

.other-user-db:nth-child(5) {
  right: 4%;
}




#c .row-b {
    margin-top: 8%;
}

#c .row-b .col-a {
    text-align: center;
}

#c .button {
    font-weight: 500;
}




/*
D
*/

#d {
  min-height: 100vh;
  padding: 4% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
Tab content
*/

.tabcontent {
  color: #003366;
  display: none;
  text-align: center;
}

.tabcontent .bxs-quote-alt-left::before {
  color: var(--d);
  font-size: 4rem;
}

.tabcontent p {
  color: var(--h);
  font-size: 1.6rem;
  text-align: center;
  max-width: 960px;
  margin: 20px auto 0;
}

hr {
  margin: 40px 0;
  /* position: relative; */
  /* overflow: visible; */
}

/* hr::after {
  content: '';
  border-width: 8px 10px 0 10px;
  border-style: solid;
  border-color: var(--p) transparent;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/*
Tab link
*/

.tablinks {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  align-items: center;
}

.tablink {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

figure {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.tablink img {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

figcaption {
  color: var(--h);
  font-size: 2rem;
  text-align: left;
  display: none;
}

figcaption small {
  font-size: 1.6rem;
  display: block;
}

.tablink.active figure::after {
  content: '';
  border-width: 8px 10px 0 10px;
  border-style: solid;
  border-color: var(--p) transparent;
  position: absolute;
  top: -38px;
  left: 40px;
  transform: translate(-50%, -50%);
}

.tablink.active img {
  width: 80px;
  height: 80px;
}

.tablink.active figcaption {
  display: block;
}


#d .row-b {
  margin-top: 8%;
}

#d .row-b .col-a {
  text-align: center;
}

#d .button {
  font-weight: 500;
}




/*
    Responsive → Mobile
*/

@media only screen and (max-width: 600px) {

    #a,
    #c {
        min-height: auto;
        padding: 8%;
    }

    #a h1 {
        font-size: 4.8rem;
    }

    #a .row-a p {
        font-size: 2.4rem;
    }

    #a .row-b {
        flex-direction: column-reverse;
    }

    #b .button {
        font-size: 1.1rem;
        padding: 4px 8px;
    }

    .slider figure img.other-user-db {
      display: none;
    }




    .tablinks {
      flex-direction: column;
    }



}
span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(19) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(20) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(21) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(22) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(23) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(24) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(25) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(26) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(27) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(28) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(29) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(30) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(31) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(32) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(33) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(34) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

span:nth-child(35) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(36) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(37) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(38) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(39) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(40) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(41) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(42) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(43) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(44) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

span:nth-child(45) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(46) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(47) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(48) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(49) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(50) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(51) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(52) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

 span:nth-child(53) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(54) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

span:nth-child(55) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(56) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(57) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(58) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(59) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(60) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(61) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(62) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

 span:nth-child(63) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(64) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

span:nth-child(65) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(66) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(67) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(68) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(69) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(70) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(71) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(72) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(73) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(74) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(75) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(76) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

 span:nth-child(77) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(78) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }

span:nth-child(79) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(80) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(81) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(82) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(83) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(84) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(85) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(86) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(87) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(88) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(89) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
 span:nth-child(90) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
 }
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
