@import url('common.css');
@import url('header.css');
@import url('footer.css');

/*
    Row A
*/

#a {
    min-height: 100vh;
    padding: 18% 8% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/pattern.gif'), url('../images/volunteers-illustration.png');
    background-position: right -5% top 12vw, left 0 bottom 4%;
    background-size: 50%, 30%;
    background-repeat: no-repeat;
}

#a h1 {
    color: var(--d);
    font-size: 8rem;
}

h1 {
    opacity: 0;
    position: relative;
    top: 30px;
    transition: 1s;
}

h1.show {
    opacity: 1;
    top: 0;
}

hr {
    border-top: 2px solid var(--j);
    margin-top: 30px;
    max-width: 0;
    transition: 1s;
}

hr.show {
    max-width: 520px;
}

#a .row-b {
    padding-top: 8%;
    display: flex;
    gap: 8%;
}

#a .row-b .col-a {
    flex-basis: 30%;
    flex-shrink: 0;
}

/*
    Scrollspy
*/

.scrollspy nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    top: 10%;
}

.scrollspy nav a {
    color: var(--o);
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 2.4rem;
    opacity: 0.3;
    transition: 0.2s;
}

.scrollspy nav .active {
    color: var(--l);
    font-size: 3.2rem;
    opacity: 1;
}

.scrollspy article h2 {
    color: var(--l);
    font-size: 2.8rem;
    display: none;
}

.profiles {
    display: flex;
    justify-content: space-between;
}

.profile {
    text-align: center;
}

.profile img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.profile figcaption {
    color: var(--l);
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 20px;
}

.profiles ~ p {
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 40px;
}

.profiles + p {
    margin-top: 0px;
}

p span {
    white-space: nowrap;
}

.profiles ~ p span:nth-child(1),
.profiles ~ p span:nth-child(10),
.profiles ~ p span:nth-child(22),
.profiles ~ p span:nth-child(26),
.profiles ~ p span:nth-child(32),
.profiles ~ p span:nth-child(62),
.profiles ~ p span:nth-child(52),
.profiles ~ p span:nth-child(42),
.profiles ~ p span:nth-child(40) {
    color: var(--p);
}

.profiles ~ p span:nth-child(5),
.profiles ~ p span:nth-child(14),
.profiles ~ p span:nth-child(38),
.profiles ~ p span:nth-child(43),
.profiles ~ p span:nth-child(46),
.profiles ~ p span:nth-child(49),
.profiles ~ p span:nth-child(56),
.profiles ~ p span:nth-child(59),
.profiles ~ p span:nth-child(34) {
    color: var(--q);
}

.profiles ~ p span:nth-child(9),
.profiles ~ p span:nth-child(18),
.profiles ~ p span:nth-child(28),
.profiles ~ p span:nth-child(61),
.profiles ~ p span:nth-child(41),
.profiles ~ p span:nth-child(51),
.profiles ~ p span:nth-child(58),
.profiles ~ p span:nth-child(65),
.profiles ~ p span:nth-child(37) {
    color: var(--r);
}


.scrollspy article ~ hr {
    margin: 60px 0;
}

.scrollspy article ~ hr.show {
    max-width: 100%;
}

/*
    Responsive → Mobile
*/

@media only screen and (max-width: 600px) {

    #a {
        padding: 18% 8% 96%;
        background-position: right -5% top 0, center bottom;
        background-size: 50%, 100%;
    }

    #a h1 {
        font-size: 4rem;
    }

    #a .row-b {
        flex-direction: column;
    }

    #a .row-b .col-a {
        display: none;
    }

    .scrollspy article h2 {
        display: block;
    }

    .profiles {
        flex-direction: column;
    }

    .profile {
        margin-top: 40px;
    }

    .profiles ~ p {
        font-size: 2rem;
    }

}